# gladd.conf
# 
# this file is part of GLADD
# 
# Copyright (c) 2012, 2013 Brett Sheffield <brett@gladserv.com>
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program (see the file COPYING in the distribution).
# If not, see <http://www.gnu.org/licenses/>.

debug		1
port		3000
daemon		0
encoding	UTF-8
url_default	/html/index.html
xmlpath         /path/to/xml/

###############################################################################
## databases
db      test_my		my	localhost     testdb  myuser mypass
db      test_pg		pg	localhost     testdb
db      ldap1       	ldap    ldap://ldap.example.com dc=example,dc=com

###############################################################################
# urls (tried in order of appearance)
###############################################################################
url     static  GET	/css/		/path/to/css/
url     static  GET	/html/		/path/to/html/
url	sqlview GET	/someview/      test_pg  someview

# here, mycollection refers to a subdirectory in xmlpath above
# it would normally contain:
#   create.xsd - an xml schema to validate POST data against
#   create.xsl - the xslt to transform the POSTed xml into sql to execute
# and the same for update:
#   update.xsd - an xml schema to validate POST data against
#   update.xsl - the xslt to transform the POSTed xml into sql to execute
url	xslpost POST	/mycollection/		test_pg		mycollection

###############################################################################
# acls (tried in order of appearance)
###############################################################################
acl	GET	/css/				allow	*
acl	GET	/html/				allow	*
acl	GET	/someview/			require	*
acl	POST	/mycollection/			require	*

###############################################################################
## auth
## (ldap only supported at present)
auth    ldap    ldap    ldap1   ld_auth         uid

###############################################################################
# sql
# Rather than creating lengthy SQL queries here, create a view in the database
# and SELECT * FROM <view>
###############################################################################
sql someview		SELECT * FROM someview
sql ld_auth		ou=people
sql ld_group		ou=group

# sql can be multiline, like so...
begin sql xmlpost

SELECT
	this,
	that,
	theother
FROM
	mytable
WHERE
	this=that
ORDER BY theother

end sql xmlpost
